.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper:nth-child(2n - 1) {
  flex-direction: row-reverse;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img {
  top: 0;
  left: 0;
  max-width: 600px;
  max-height: 400px;
  object-fit: cover;
}
