.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 56px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}
.imageCont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formCont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 60%;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.name,
.email,
.message {
  width: 100%;
  padding: 15px;
  border: 2px solid grey;
  outline: none;
  background-color: transparent;
}

.message {
  height: 100%;
}
