.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-size: 72px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

