.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-weight: bold;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.eachLink {
  cursor: pointer;
}